.countriesBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--w-4);
}

.countriesFlow {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--w-64), 1fr));
  gap: var(--w-8);
}

.item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  a {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--w-4);
    padding: var(--w-4);
    background-color: rgb(var(--bg-2));
    border-radius: var(--w-2);
    transition: var(--ani-1);

    &:hover {
      background-color: rgb(var(--bg-3));
    }

    .flag {
      width: 100%;
      height: auto;
      display: flex;
      border-radius: var(--w-1);
      overflow: hidden;
    }

    .info {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;

      h4,
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      h4 {
        line-height: 1.3;
        font-size: var(--fs-base);
        color: rgb(var(--tx-1));
        font-weight: 600;
      }
      p {
        line-height: 1.5em;
        font-size: var(--fs-sm);
        color: rgb(var(--tx-3));
        font-weight: 500;

        span {
          &::after {
            content: ", ";
          }
          &:last-child::after {
            display: none;
          }
        }
      }
    }
  }
}
