.countriesBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--w-4);
  scroll-margin-top: var(--w-24);
}

.countriesFlow {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--w-64), 1fr));
  gap: var(--w-8);
}

.item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  a {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--w-4);
    padding: var(--w-4);
    background-color: rgb(var(--bg-2));
    border-radius: var(--w-2);
    transition: var(--ani-1);

    &:hover {
      background-color: rgb(var(--bg-3));
    }

    .flag {
      width: 100%;
      height: auto;
      display: flex;
      border-radius: var(--w-1);
      overflow: hidden;
    }

    .info {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;

      h4,
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      h4 {
        line-height: 1.3;
        font-size: var(--fs-base);
        color: rgb(var(--tx-1));
        font-weight: 600;
      }
      p {
        line-height: 1.5em;
        font-size: var(--fs-sm);
        color: rgb(var(--tx-3));
        font-weight: 500;

        span {
          &::after {
            content: ", ";
          }
          &:last-child::after {
            display: none;
          }
        }
      }
    }
  }
}

.category {
  position: sticky;
  top: 0;
  z-index: 9;
  width: 100%;
  height: auto;
  display: flex;
  gap: var(--w-2);
  background-color: rgba(var(--bg-1), 0.86);
  backdrop-filter: blur(var(--w-8));
  padding-top: var(--w-4);
  padding-bottom: var(--w-4);
  overflow-y: auto;

  li {
    width: auto;
    height: auto;
    display: flex;
    line-height: 1.5em;
    font-size: var(--fs-sm);
    font-weight: 500;

    a {
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      white-space: nowrap;
      color: rgb(var(--tx-1));
      background-color: rgb(var(--bg-2));
      gap: var(--w-2);
      padding: var(--w-2) var(--w-4);
      border-radius: 999px;
      transition: var(--ani-1);

      &:hover {
        background-color: rgb(var(--bg-3));
      }

      span {
        font-size: var(--fs-xs);
        font-weight: 600;
        color: inherit;
        opacity: 0.6;
      }
    }

    &.active {
      a {
        background-color: rgb(var(--cd));
        transition: var(--ani-1);

        &:focus {
          box-shadow: 0 0 0 3px rgba(var(--cd), 0.6);
        }
      }
    }
  }
}
