@import "/styles/mixins";

.pageTitle {
  width: 100%;
  height: auto;
  display: flex;

  h2 {
    line-height: 1.5em;
    font-size: var(--fs-2xl);
    font-weight: 500;
    color: rgb(var(--tx-1));
    display: flex;
    align-items: center;
    gap: var(--w-4);

    @include media(lg) {
      font-size: var(--fs-xl);
    }
    @include media(sm) {
      font-size: var(--fs-base);
    }

    span {
      font-size: var(--fs-sm);
      font-weight: 600;
      background-color: rgb(var(--bg-2));
      border-radius: var(--w-2);
      padding-left: var(--w-3);
      padding-right: var(--w-3);

      @include media(sm) {
        font-size: var(--fs-xs);
        font-weight: 500;
      }
    }
  }
}
