.searchBox {
  position: sticky;
  padding: var(--w-8);
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  z-index: 9;
  background-color: rgba(var(--bg-1), 0.86);
  backdrop-filter: blur(var(--w-8));

  form {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      max-width: calc(var(--w-4) * 24);
      height: var(--w-14);
      display: flex;

      line-height: 1.5em;
      font-size: var(--fs-base);
      font-weight: 500;

      color: rgb(var(--tx-1));
      background-color: rgb(var(--bg-2));
      border: none;
      border-radius: 999px;
      padding-left: calc(var(--w-8) + var(--w-1) + (var(--w-3) * 2));
      padding-right: calc(var(--w-8) + var(--w-1) + (var(--w-3) * 2));
      transition: var(--ani-1);

      &::placeholder {
        font-size: var(--fs-sm);
        font-weight: 600;
        color: rgb(var(--tx-4));
      }

      &:focus {
        max-width: calc(var(--w-4) * 32);
        background-color: rgb(var(--bg-3));
      }
    }

    svg {
      position: absolute;
      width: var(--w-8);
      height: var(--w-8);
      display: flex;
      padding: var(--w-1);
      margin-left: var(--w-3);
      color: rgb(var(--tx-4));
    }
  }
}

.notFound {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: var(--w-4);

  svg {
    width: var(--w-24);
    height: var(--w-24);
    display: flex;
    color: rgb(var(--bg-4));
  }

  p {
    line-height: 1.5em;
    font-size: var(--fs-2xl);
    font-weight: 600;
    color: rgb(var(--tx-2));
  }
}
